<?xml version="1.0"?>
<launch>

  <arg name="frequency" value="10" />

  <!-- control sim -->
  <node pkg="control_p3" type="pid_ctrl_node.py" name="pid_ctrl_node" respawn="true" output="screen">

    <remap from="~odom" to="/odom"/>
    <remap from="~pose" to="/pose"/>
    <remap from="~twist" to="/mobile_base/commands/velocity"/>

    <!-- <param name="~Kp_linear" type="double" value="0.2" />
    <param name="~Kd_linear" type="double" value="0.1" />
    <param name="~Ki_linear" type="double" value="0.9" />
    <param name="~max_integ_term_linear" type="double" value="0.2" /> -->

    <!-- <param name="~Kp_linear" type="double" value="0.125" />
    <param name="~Kd_linear" type="double" value="0.1" />
    <param name="~Ki_linear" type="double" value="1.2" />
    <param name="~max_integ_term_linear" type="double" value="2" /> -->

    <param name="~Kp_linear" type="double" value="0.12" />
    <param name="~Kd_linear" type="double" value="0" />
    <param name="~Ki_linear" type="double" value="8" />
    <param name="~max_integ_term_linear" type="double" value="4" />


    <param name="~Kp_angular" type="double" value="1.5" />
    <param name="~Kd_angular" type="double" value="0.05" />
    <param name="~Ki_angular" type="double" value="0.1" />
    <param name="~max_integ_term_angular" type="double" value="0.08" />
  </node>

  <!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/odom/pose/pose/position/x 
  /odom/pose/pose/position/y /pose/position/x /pose/position/y"/>
  <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph" /> -->

  <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/odom/pose/pose/position/x 
  /odom/pose/pose/position/y"/>

  <node pkg="rqt_publisher" type="rqt_publisher" name="rqt_publisher" />

</launch>
